$base: '.poppy';
$poppy_padding: 15px;

#{$base} {
	position: fixed;
	height: min-content;
	background: #fff;
	box-sizing: border-box;
	padding: 15px;
	border-radius: 5px;
	display: flex;
	flex-wrap: wrap;
	z-index: 999;
	box-shadow: 0 2px 4px rgba(0, 0, 0, .2), 0 0 15px rgba(0, 0, 0, .1);
	transition: all .4s ease-in-out;
	
	&.docked {
		border-radius: 0;
	}

	&.peek {
		overflow: scroll;

		@media (max-width: 600px) {
			max-height: 15vh;
		}
	}

	&.inactive {
		opacity: 0;

		&.position--bottom {
			transform: translateY(100%);
		}

		&.position--top {
			transform: translateY(-100%);
		}

		&.position--center {
			&.alignment--left {
				transform: translateX(-100%);
			}

			&.alignment--center {
				transform: translateX(-100%);
			}

			&.alignment--right {
				transform: translateX(100%);
			}
		}
	}
	
	&.alignment {
		&--left {
			left: $poppy_padding;
			
			&.docked {
				left: 0;
			}
		}
		
		&--center {
			left: $poppy_padding;
			right: $poppy_padding;
			margin-left: auto;
			margin-right: auto;
			
			&.docked {
				left: 0;
				right: 0;
			}
		}
		
		&--right {
			right: $poppy_padding;
			
			&.docked {
				right: 0;
			}
		}
	}
	
	&.position {
		&--top {
			top: $poppy_padding;
			&.docked {
				top: 0;
			}
		}
		
		&--center {
			top: $poppy_padding;
			bottom: $poppy_padding;
			margin-top: auto;
			margin-bottom: auto;
			
			&.docked {
				top: 0;
				bottom: 0;
			}
		}
		
		&--bottom {
			bottom: $poppy_padding;
			
			&.docked {
				bottom: 0;
			}
		}
	}
	
	&.size {
		&--full {
			max-width: 100%;
		}
		
		&--wide {
			max-width: 1200px;
		}
		
		&--narrow {
			max-width: 600px;
		}
	}
	
	&__content {
		opacity: 1;
		max-height: 500px;
		overflow: scroll;
		margin: 0 auto 1em;
		transition: all .2s ease-in-out;
		max-width: 1200px;

		
		#{$base}.peek & {
			opacity: 0;
			max-height: 0;
			margin-bottom: 0;
		}
		
		> * {
			&:first-child {
				margin-top: 0;
			}
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	&__close {
		position: fixed;
		height: 100%;
		width: 100%;
		background: transparent;
		top: 0;
		left: 0;
		z-index: -1;

		#{$base}.peek & {
			height: 0;
		}
	}
	
	&__controls {
		display: flex;
		width: 100%;
		max-width: 1200px;
		margin: auto;

		@media (max-width: 600px) {
			flex-direction: column;
		}
	}
	
	&__peek {
		opacity: 0;
		max-height: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		padding-right: .5em;
		transition: all .2s ease-in-out;
		flex-grow: 1;

		@media (max-width: 600px) {
			margin-bottom: .5rem;
		}
		
		#{$base}.peek & {
			opacity: 1;
			max-height: 15vh;
		}
		
		> * {
			&:first-child {
				margin-top: 0;
			}
			
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	
	&__actions {
		display: flex;
		align-items: center;
		position: sticky;
		bottom: 0;
		background: #fff;
		padding-left: .5em;

		@media (max-width: 600px) {
			padding-top: 1em;
			padding-left: 0;
			background: linear-gradient(transparent 0%, #fff 25%);
		}
	}
	
	&__action {
		margin: 0 5px;
		border-radius: 5px;
		padding: .5em .75em;
		font-size: 1em;
		transition: all .2s ease-in-out;
		cursor: pointer;
		outline: none;
		background: #fff;

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
		
		&--accept {
			border: solid 1px green;
			color: green;
			
			&:hover {
				background: green;
				color: #fff;
			}
		}
		
		&--decline {
			border: solid 1px red;
			color: red;
			
			&:hover {
				background: red;
				color: #fff;
			}
		}
		
		&--more {
			border: solid 1px rgba(0, 0, 0, .8);
			color: rgba(0, 0, 0, .8);
			
			&:hover {
				background: rgba(0, 0, 0, .8);
				color: #fff;
			}
		}
	}
}